/* :root {
    --blue-color: #238CD0;
    --orange-color: #FF6D0A;
}
.blue{
    color: #238CD0;
}
.orange{
    color: (var(--orange-color));
} */
.navbar{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 666;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}  
.menuactive{
    background-color: #FF6D0A;
    width: 120%;
    height: 220%;
}
.navbar-brand span{
    color: #FF6D0A;
}
@media screen and (max-width:768px) {
    .menuactive{
        background-color: #FF6D0A;
        width: 100%;
        height: 100%;
        justify-content: center;
    } 
    
}